[Unit]
Description=Export CEPH metric for consumption by prometheus
Documentation=https://github.com/digitalocean/ceph_exporter

[Service]
Restart=always
User=ceph
EnvironmentFile=/etc/default/prometheus-ceph-exporter
ExecStart=/usr/bin/ceph_exporter $ARGS
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
